.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;

    /* background: url("/login-bg.svg"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
}

.loginPage > section {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
}

.loginPage .loginPage__Box {
    /* display: flex; */
    background: white;
    justify-content: center;
    align-items: center;
    min-height: 175px;
}
