.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    min-width: 100vw;
    margin: 0
}

.loginPage > section {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 40px 0;
}

.loginPage .loginPage__Box {
    justify-content: center;
    align-items: center;
    min-height: 175px;
}
